USE [master]
GO
/****** Object:  Database [QL_BANSACH]    Script Date: 11/15/2024 4:35:16 PM ******/
CREATE DATABASE [QL_BANSACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_BANSACH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QL_BANSACH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_BANSACH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QL_BANSACH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_BANSACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_BANSACH]
GO
USE [QL_BANSACH]
GO
/****** Object:  Sequence [dbo].[Seq_HoaDon]    Script Date: 11/15/2024 4:35:16 PM ******/
CREATE SEQUENCE [dbo].[Seq_HoaDon] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TongTienDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TongTienDonHang](@donhang_id NVARCHAR(50))
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18, 2);

    SELECT @TongTien = SUM(cd.soLuong * cd.giaDonVi)
    FROM ChiTietDonHang cd
    WHERE cd.donhang_id = @donhang_id;

    RETURN ISNULL(@TongTien, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FnTinhTongSoLuongSachDaBan]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FnTinhTongSoLuongSachDaBan] (@SachId VARCHAR(50))
RETURNS INT
AS
BEGIN
    DECLARE @TongSoLuong INT;

    -- Tính tổng số lượng sách đã bán cho mã sách cụ thể khi trạng thái hóa đơn là 1 (thành công)
    SELECT @TongSoLuong = SUM(ctd.soLuong) 
    FROM ChiTietDonHang ctd
    JOIN DonHang dh ON ctd.donhang_id = dh.id
    WHERE ctd.sach_id = @SachId
    AND dh.trangthaiDH = '1';  -- '1' là trạng thái đã thanh toán thành công

    -- Nếu không có đơn hàng nào thì trả về 0
    IF @TongSoLuong IS NULL
    BEGIN
        SET @TongSoLuong = 0;
    END

    RETURN @TongSoLuong;
END;
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[id] [varchar](50) NOT NULL,
	[tieude] [nvarchar](255) NULL,
	[theloai_id] [varchar](50) NULL,
	[gia] [decimal](10, 2) NULL,
	[soLuongTon] [int] NULL,
	[hinhAnh] [varchar](max) NULL,
	[namXuatBan] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[nxb_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FnKiemTraSachSapHetHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROC
CREATE FUNCTION [dbo].[FnKiemTraSachSapHetHang]()
RETURNS TABLE
AS
RETURN
(
    SELECT id, tieude, soLuongTon
    FROM Sach
    WHERE soLuongTon < 10
);

GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[id] [varchar](50) NOT NULL,
	[donhang_id] [varchar](50) NULL,
	[sach_id] [varchar](50) NULL,
	[soLuong] [int] NULL,
	[giaDonVi] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[id] [varchar](50) NOT NULL,
	[nguoidung_id] [varchar](50) NULL,
	[trangthaiDH] [int] NULL,
	[ngayDatHang] [datetime] NULL,
	[tongTien] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id] [varchar](50) NOT NULL,
	[donhang_id] [varchar](50) NULL,
	[ngayLap] [datetime] NULL,
	[tongTien] [decimal](10, 2) NULL,
	[phuongThucTT] [nvarchar](50) NULL,
	[trangthaiTT] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[sodienthoai] [varchar](10) NULL,
	[diachi] [nvarchar](255) NULL,
	[tenNguoiDatHang] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[donhang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khachhang](
	[id] [varchar](50) NOT NULL,
	[ten] [nvarchar](255) NULL,
	[diachi] [nvarchar](255) NULL,
	[sodienthoai] [varchar](10) NULL,
	[email] [varchar](255) NULL,
	[id_NguoiDung] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[id] [varchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[gioitinh] [int] NULL,
	[NgaySinh] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id] [varchar](50) NOT NULL,
	[ten] [nvarchar](255) NULL,
	[chucVu] [nvarchar](255) NULL,
	[sodienthoai] [varchar](10) NULL,
	[email] [varchar](255) NULL,
	[id_NguoiDung] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[id] [varchar](50) NOT NULL,
	[ten] [nvarchar](255) NULL,
	[diachi] [nvarchar](255) NULL,
	[sodienthoai] [varchar](10) NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[id] [varchar](50) NOT NULL,
	[ten] [nvarchar](255) NULL,
	[ngaySinh] [date] NULL,
	[quocTich] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia_Sach]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia_Sach](
	[sach_id] [varchar](50) NOT NULL,
	[tacgia_id] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sach_id] ASC,
	[tacgia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[id] [varchar](50) NOT NULL,
	[ten] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [trangthaiDH]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([donhang_id])
REFERENCES [dbo].[DonHang] ([id])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_Sach] FOREIGN KEY([sach_id])
REFERENCES [dbo].[Sach] ([id])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_Sach]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[NguoiDung] ([id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DonHang] FOREIGN KEY([donhang_id])
REFERENCES [dbo].[DonHang] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DonHang]
GO
ALTER TABLE [dbo].[Khachhang]  WITH CHECK ADD  CONSTRAINT [FK_Khachhang_NguoiDung] FOREIGN KEY([id_NguoiDung])
REFERENCES [dbo].[NguoiDung] ([id])
GO
ALTER TABLE [dbo].[Khachhang] CHECK CONSTRAINT [FK_Khachhang_NguoiDung]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_NguoiDung] FOREIGN KEY([id_NguoiDung])
REFERENCES [dbo].[NguoiDung] ([id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_NguoiDung]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([nxb_id])
REFERENCES [dbo].[NhaXuatBan] ([id])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoai] FOREIGN KEY([theloai_id])
REFERENCES [dbo].[TheLoai] ([id])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoai]
GO
ALTER TABLE [dbo].[TacGia_Sach]  WITH CHECK ADD  CONSTRAINT [FK_TacGia_Sach_Sach] FOREIGN KEY([sach_id])
REFERENCES [dbo].[Sach] ([id])
GO
ALTER TABLE [dbo].[TacGia_Sach] CHECK CONSTRAINT [FK_TacGia_Sach_Sach]
GO
ALTER TABLE [dbo].[TacGia_Sach]  WITH CHECK ADD  CONSTRAINT [FK_TacGia_Sach_TacGia] FOREIGN KEY([tacgia_id])
REFERENCES [dbo].[TacGia] ([id])
GO
ALTER TABLE [dbo].[TacGia_Sach] CHECK CONSTRAINT [FK_TacGia_Sach_TacGia]
GO
/****** Object:  StoredProcedure [dbo].[SP_Book_GetAllType]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Book_GetAllType]
AS
BEGIN
	select *
	from TheLoai
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CapNhatDonHang]
    @donhang_id VARCHAR(50)
AS
BEGIN
    DECLARE @sach_id VARCHAR(50), @soLuong INT;

    -- Cập nhật trạng thái đơn hàng
    UPDATE DonHang
    SET trangthaiDH = 1 -- Đã thanh toán
    WHERE id = @donhang_id;

    -- Giảm số lượng tồn kho của từng sách trong đơn hàng
    DECLARE cur CURSOR FOR
        SELECT sach_id, soLuong
        FROM ChiTietDonHang
        WHERE donhang_id = @donhang_id;

    OPEN cur;
    FETCH NEXT FROM cur INTO @sach_id, @soLuong;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        UPDATE Sach
        SET soLuongTon = soLuongTon - @soLuong
        WHERE id = @sach_id;

        FETCH NEXT FROM cur INTO @sach_id, @soLuong;
    END;
    CLOSE cur;
    DEALLOCATE cur;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachNXB]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DanhSachNXB]
AS
BEGIN
    SELECT id, ten, diachi, sodienthoai, email
    FROM NhaXuatBan;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachSach]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DanhSachSach]
AS
BEGIN
    SELECT 
	     S.id AS SachId,
        S.tieude AS TenSach,
		S.HinhAnh,
		S.Gia,
		S.SoLuongTon,
		S.NamXuatBan,
		S.MoTa,
		S.theloai_id,
        TL.ten AS TenTheLoai,
		STRING_AGG(TG.ten, ', ') AS TenTacGias, -- Sử dụng STRING_AGG
		STRING_AGG(TG.id, ', ') AS TacGiaIds, -- Sử dụng STRING_AGG
		NXB.ten as TenNhaXuatBan,
		NXB.id as NhaXuatBanId

    FROM 
        Sach S
        INNER JOIN TheLoai TL ON S.theloai_id = TL.id
        INNER JOIN TacGia_Sach TGS ON S.id = TGS.sach_id
        INNER JOIN TacGia TG ON TGS.tacgia_id = TG.id
        INNER JOIN NhaXuatBan NXB ON NXB.id = S.nxb_id

		GROUP BY
		S.id, S.tieude, S.HinhAnh, S.Gia, S.SoLuongTon, S.NamXuatBan, S.MoTa, S.theloai_id, TL.ten, NXB.ten, NXB.id;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachSachTheoTheLoai]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DanhSachSachTheoTheLoai]
    @TheLoaiId VARCHAR(50)
AS
BEGIN
    SELECT 
        S.id AS SachId,
        S.tieude AS TenSach,
		S.HinhAnh,
		S.Gia,
		S.SoLuongTon,
		S.NamXuatBan,
		S.MoTa,
		S.theloai_id,
        TL.ten AS TenTheLoai,
		STRING_AGG(TG.ten, ', ') AS TenTacGias, -- Sử dụng STRING_AGG
		STRING_AGG(TG.id, ', ') AS TacGiaIds, -- Sử dụng STRING_AGG
		NXB.ten as TenNhaXuatBan,
		NXB.id as NhaXuatBanId

    FROM 
        Sach S
        INNER JOIN TheLoai TL ON S.theloai_id = TL.id
        INNER JOIN TacGia_Sach TGS ON S.id = TGS.sach_id
        INNER JOIN TacGia TG ON TGS.tacgia_id = TG.id
        INNER JOIN NhaXuatBan NXB ON NXB.id = S.nxb_id

    WHERE 
        S.theloai_id = @TheLoaiId
	GROUP BY
		S.id, S.tieude, S.HinhAnh, S.Gia, S.SoLuongTon, S.NamXuatBan, S.MoTa, S.theloai_id, TL.ten, NXB.ten, NXB.id;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachTacGia]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DanhSachTacGia]
AS
BEGIN
    SELECT * 
    FROM TacGia;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DatHangThanhCong]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC ĐẶT HÀNG THÀNH CÔNG
CREATE PROCEDURE [dbo].[SP_DatHangThanhCong]
    @donhang_id VARCHAR(50)
AS
BEGIN
    -- Bắt đầu transaction để đảm bảo tính toàn vẹn dữ liệu
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Bước 1: Cập nhật trạng thái đơn hàng thành "1" (Đã đặt hàng thành công)
        UPDATE DonHang
        SET trangthaiDH = 1
        WHERE id = @donhang_id;

        -- Bước 2: Khai báo các biến để lưu mã sách và số lượng sách trong từng dòng chi tiết của đơn hàng
        DECLARE @sach_id VARCHAR(50);
        DECLARE @soLuong INT;

        -- Bước 3: Khai báo cursor để duyệt qua từng dòng trong bảng ChiTietDonHang của đơn hàng
        DECLARE sach_cursor CURSOR FOR
        SELECT sach_id, soLuong
        FROM ChiTietDonHang
        WHERE donhang_id = @donhang_id;

        OPEN sach_cursor;

        -- Bước 4: Duyệt qua từng dòng và cập nhật số lượng tồn kho của sách
        FETCH NEXT FROM sach_cursor INTO @sach_id, @soLuong;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Kiểm tra xem sách có đủ tồn kho không
            IF (SELECT soLuongTon FROM Sach WHERE id = @sach_id) >= @soLuong
            BEGIN
                -- Nếu đủ tồn kho, tiến hành trừ số lượng tồn kho
                UPDATE Sach
                SET soLuongTon = soLuongTon - @soLuong
                WHERE id = @sach_id;
            END
            ELSE
            BEGIN
                -- Nếu không đủ tồn kho, thông báo lỗi và rollback transaction
                RAISERROR ('Số lượng tồn kho của sách %s không đủ để thực hiện đơn hàng', 16, 1, @sach_id);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- Tiếp tục duyệt qua dòng tiếp theo
            FETCH NEXT FROM sach_cursor INTO @sach_id, @soLuong;
        END;

        -- Đóng và giải phóng cursor
        CLOSE sach_cursor;
        DEALLOCATE sach_cursor;

        -- Nếu tất cả đều thành công, commit transaction
        COMMIT TRANSACTION;
        
        PRINT 'Đặt hàng thành công và cập nhật số lượng tồn kho.';
    END TRY
    BEGIN CATCH
        -- Xử lý lỗi và rollback nếu có lỗi
        ROLLBACK TRANSACTION;
        
        -- Lấy thông tin lỗi
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Thông báo lỗi
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteChiTietDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteChiTietDonHang]
    @id VARCHAR(50)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM ChiTietDonHang WHERE id = @id)
        RETURN 1;  -- Lỗi: Không tồn tại

    DELETE FROM ChiTietDonHang WHERE id = @id;
    IF @@ROWCOUNT = 0
        RETURN 2;  -- Lỗi: Không có dòng nào bị xóa

    RETURN 0; -- Thành công
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteHoaDonVaCapNhatDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteHoaDonVaCapNhatDonHang]
    @hoaDonId VARCHAR(50)
AS
BEGIN
    -- Bắt đầu một giao dịch để đảm bảo tính toàn vẹn dữ liệu
    BEGIN TRANSACTION;

    -- Lấy DonHangId từ hóa đơn trước khi xóa
    DECLARE @donHangId VARCHAR(50);
    SELECT @donHangId = donhang_id FROM HoaDon WHERE id = @hoaDonId;

    -- Kiểm tra nếu hóa đơn tồn tại và lấy các chi tiết đơn hàng (sách và số lượng)
    DECLARE @SachId VARCHAR(50);
    DECLARE @SoLuong INT;

    -- Duyệt qua các chi tiết của hóa đơn để trả lại số lượng sách vào kho
    DECLARE ChiTietCursor CURSOR FOR
        SELECT ct.sach_id, ct.soLuong
        FROM ChiTietDonHang ct
        JOIN HoaDon hd ON ct.donhang_id = hd.donhang_id
        WHERE hd.id = @hoaDonId;

    OPEN ChiTietCursor;
    FETCH NEXT FROM ChiTietCursor INTO @SachId, @SoLuong;

    -- Cập nhật số lượng tồn kho của sách
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Tăng số lượng tồn kho của sách
        UPDATE Sach
        SET soLuongTon = soLuongTon + @SoLuong
        WHERE id = @SachId;

        FETCH NEXT FROM ChiTietCursor INTO @SachId, @SoLuong;
    END

    -- Đóng con trỏ
    CLOSE ChiTietCursor;
    DEALLOCATE ChiTietCursor;

    -- Xóa hóa đơn
    DELETE FROM HoaDon WHERE id = @hoaDonId;

    -- Cập nhật trạng thái đơn hàng thành 0 (chưa thanh toán) nếu đơn hàng có tồn tại
    IF @donHangId IS NOT NULL
    BEGIN
        UPDATE DonHang
        SET trangthaiDH = 0
        WHERE id = @donHangId;
    END

    -- Kiểm tra và hoàn thành giao dịch
    IF @@ERROR = 0
    BEGIN
        COMMIT TRANSACTION;
    END
    ELSE
    BEGIN
        ROLLBACK TRANSACTION;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayChiTietDonHangTheoDH]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_LayChiTietDonHangTheoDH]
	@OrderID varchar(50)

AS
BEGIN
	SELECT *
	FROM ChiTietDonHang ct
	WHERE ct.donhang_id = @OrderID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayChiTietDonHangTheoID]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_LayChiTietDonHangTheoID]
	@OrderDetailID varchar(50)

AS
BEGIN
	SELECT *
	FROM ChiTietDonHang ct
	WHERE ct.id = @OrderDetailID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayChiTietDonHangTheoSachId]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_LayChiTietDonHangTheoSachId]
    @OrderID NVARCHAR(50),
    @SachId NVARCHAR(50)
AS
BEGIN
    SELECT *
    FROM ChiTietDonHang 
    WHERE donhang_id = @OrderID AND sach_id = @SachId;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LaySachTheoIdDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- LẤY SÁCH THEO ĐƠN HÀNG ID
CREATE   PROCEDURE [dbo].[SP_LaySachTheoIdDonHang]
    @OrderID VARCHAR(50) -- Tham số đầu vào: ID đơn hàng
AS
BEGIN
    SELECT 
        S.id AS SachId,
        S.tieude AS TenSach,
        S.HinhAnh,
        S.Gia,
        CD.soLuong AS SoLuongDat,
        S.NamXuatBan,
        S.MoTa,
        TL.ten AS TenTheLoai,
        STRING_AGG(TG.ten, ', ') AS TenTacGias, -- Kết hợp tên tác giả bằng dấu phẩy
        NXB.ten AS TenNhaXuatBan,
        NXB.id AS NhaXuatBanId
    FROM 
        ChiTietDonHang CD
        INNER JOIN Sach S ON CD.sach_id = S.id
        INNER JOIN TheLoai TL ON S.theloai_id = TL.id
        INNER JOIN TacGia_Sach TGS ON S.id = TGS.sach_id
        INNER JOIN TacGia TG ON TGS.tacgia_id = TG.id
        INNER JOIN NhaXuatBan NXB ON S.nxb_id = NXB.id
    WHERE 
        CD.donhang_id = @OrderID -- Lọc theo OrderID
    GROUP BY
        S.id, S.tieude, S.HinhAnh, S.Gia, CD.soLuong, S.NamXuatBan, S.MoTa, S.theloai_id, TL.ten, NXB.ten, NXB.id
    ORDER BY
        CD.soLuong DESC; -- Sắp xếp theo số lượng đặt giảm dần
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinTheLoai]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_LayThongTinTheLoai] @idTL VARCHAR(10)
AS
BEGIN
	select *
	from TheLoai tl
	where tl.id=@idTL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayTrangThaiDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE  [dbo].[SP_LayTrangThaiDonHang]  @TrangThai int,@idND VARCHAR(50)
as
begin
select * from DonHang dh  where  dh.trangthaiDH=@TrangThai AND @idND =dh.nguoidung_id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC LOGIN
CREATE   PROCEDURE [dbo].[SP_LOGIN]
    @Username NVARCHAR(50),
    @Password NVARCHAR(255),
    @UserRole VARCHAR(10) OUTPUT,
    @FullName NVARCHAR(255) OUTPUT,
	@idND VARCHAR(50) OUTPUT

AS
BEGIN
    SELECT  @UserRole = role,
            @FullName = CASE
                            WHEN role = 'customer' THEN k.ten
                            WHEN role = 'staff' THEN n.ten
                            WHEN role = 'admin' THEN n.ten

                            ELSE NULL
                        END,
						   @idND = NguoiDung.id

    FROM NguoiDung
    LEFT JOIN Khachhang k ON NguoiDung.id = k.id_NguoiDung
    LEFT JOIN NhanVien n ON NguoiDung.id = n.id_NguoiDung
    WHERE username = @Username AND password = @Password;
    
    IF @UserRole IS NULL
    BEGIN
        RAISERROR('Tên người dùng hoặc mật khẩu không chính xác.', 16, 1);
        RETURN;
    END

    IF @FullName IS NULL
    BEGIN
        RAISERROR('Không tìm thấy thông tin.', 16, 1);
        RETURN;
    END

    PRINT N'Đăng nhập thành công.';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SapXepSachTheoSoLuongTon]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Lấy sách theo số lượng tồn
CREATE   PROCEDURE [dbo].[SP_SapXepSachTheoSoLuongTon]
AS
BEGIN
    SELECT 
	     S.id AS SachId,
        S.tieude AS TenSach,
		S.HinhAnh,
		S.Gia,
		S.SoLuongTon,
		S.NamXuatBan,
		S.MoTa,
		S.theloai_id,
        TL.ten AS TenTheLoai,
		STRING_AGG(TG.ten, ', ') AS TenTacGias, -- Sử dụng STRING_AGG
		STRING_AGG(TG.id, ', ') AS TacGiaIds, -- Sử dụng STRING_AGG
		NXB.ten as TenNhaXuatBan,
		NXB.id as NhaXuatBanId

    FROM 
        Sach S
        INNER JOIN TheLoai TL ON S.theloai_id = TL.id
        INNER JOIN TacGia_Sach TGS ON S.id = TGS.sach_id
        INNER JOIN TacGia TG ON TGS.tacgia_id = TG.id
        INNER JOIN NhaXuatBan NXB ON NXB.id = S.nxb_id

		GROUP BY
		S.id, S.tieude, S.HinhAnh, S.Gia, S.SoLuongTon, S.NamXuatBan, S.MoTa, S.theloai_id, TL.ten, NXB.ten, NXB.id
		order by soLuongTon DESC;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoChiTietDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROC TẠO CTHDH
CREATE PROCEDURE [dbo].[SP_TaoChiTietDonHang]
    @OrderID NVARCHAR(50),
    @SachId NVARCHAR(50),
    @SoLuong INT,
    @GiaDonVi DECIMAL(10, 2)
AS
BEGIN
    -- Tạo ID mới cho ChiTietDonHang, bắt đầu với 'CTDH' và theo sau là giá trị số tự động
    DECLARE @NewId NVARCHAR(50);
    SET @NewId = 'CTDH' + CAST((SELECT ISNULL(MAX(CAST(SUBSTRING(Id, 5, LEN(Id)) AS INT)), 0) + 1 FROM ChiTietDonHang) AS NVARCHAR(50));

    -- Thực hiện INSERT vào bảng ChiTietDonHang
    INSERT INTO ChiTietDonHang (Id, donhang_id, sach_id, soLuong, giaDonVi)
    VALUES (@NewId, @OrderID, @SachId, @SoLuong, @GiaDonVi);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_TaoDonHang]
    @IDND NVARCHAR(50),
    @OrderPrice DECIMAL(18, 2),
    @OrderStatus INT,
    @NGAYDATHANG DATETIME = NULL -- tham số ngày đặt hàng
AS
BEGIN
    -- Nếu @NGAYDATHANG không được truyền vào, sử dụng ngày hiện tại
    IF @NGAYDATHANG IS NULL
    BEGIN
        SET @NGAYDATHANG = GETDATE(); -- Lấy ngày giờ hiện tại
    END

    DECLARE @NewOrderID NVARCHAR(50);
    DECLARE @MaxID NVARCHAR(50);

    -- Lấy giá trị id lớn nhất hiện tại trong bảng DonHang
    SELECT @MaxID = MAX(id) FROM DonHang WHERE id LIKE 'DH%';

    -- Kiểm tra nếu không có id nào, đặt giá trị khởi tạo là 'DH001'
    IF @MaxID IS NULL
    BEGIN
        SET @NewOrderID = 'DH001';
    END
    ELSE
    BEGIN
        -- Lấy phần số trong id, tăng số lên 1 và tạo lại id mới
        SET @NewOrderID = 'DH' + RIGHT('000' + CAST(CAST(SUBSTRING(@MaxID, 3, LEN(@MaxID)) AS INT) + 1 AS VARCHAR), 3);
    END

    -- Thực hiện INSERT vào bảng DonHang
    INSERT INTO DonHang (id, nguoidung_id, tongTien, trangthaiDH, ngayDatHang)
    VALUES (@NewOrderID, @IDND, @OrderPrice, @OrderStatus, @NGAYDATHANG);
    
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThanhToanDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_ThanhToanDonHang]
    @DonHangId VARCHAR(50),
    @PhuongThucTT NVARCHAR(50),
    @Email NVARCHAR(255),
    @SoDienThoai VARCHAR(10),
    @DiaChi NVARCHAR(255),
    @TenNguoiDatHang NVARCHAR(255),
    @TongTien DECIMAL(10, 2) OUTPUT
AS
BEGIN
    -- Bắt đầu transaction
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Kiểm tra xem đơn hàng có tồn tại và chưa thanh toán
        IF EXISTS (SELECT 1 FROM DonHang WHERE id = @DonHangId AND trangthaiDH = 0)
        BEGIN
            -- Cập nhật trạng thái đơn hàng thành đã thanh toán
            UPDATE DonHang
            SET trangthaiDH = 1
            WHERE id = @DonHangId;

            -- Lấy tổng tiền của đơn hàng và trả về qua tham số đầu ra
            -- SELECT @TongTien = tongTien FROM DonHang WHERE id = @DonHangId;

            -- Tạo ID cho hóa đơn với tiền tố "HD" và số tự động tăng
            DECLARE @HoaDonId VARCHAR(50);
            SET @HoaDonId = 'HD' + RIGHT('000' + CAST(NEXT VALUE FOR dbo.Seq_HoaDon AS VARCHAR), 4);

            -- Tạo mới hóa đơn cho đơn hàng
            INSERT INTO HoaDon (
                id,
                donhang_id,
                ngayLap,
                tongTien,
                phuongThucTT,
                trangthaiTT,
                email,
                sodienthoai,
                diachi,
                tenNguoiDatHang
            )
            VALUES (
                @HoaDonId,
                @DonHangId,
                GETDATE(),
                @TongTien,
                @PhuongThucTT,
                N'Đặt hàng thành công',
                @Email,
                @SoDienThoai,
                @DiaChi,
                @TenNguoiDatHang
            );

            -- Xác nhận giao dịch
            COMMIT TRANSACTION;
            PRINT 'Thanh toán thành công và hóa đơn đã được tạo.';
        END
        ELSE
        BEGIN
            -- Nếu đơn hàng không tồn tại hoặc đã thanh toán, báo lỗi
            RAISERROR ('Đơn hàng không tồn tại hoặc đã thanh toán.', 16, 1);
            ROLLBACK TRANSACTION;
        END
    END TRY
    BEGIN CATCH
        -- Bắt lỗi nếu có vấn đề
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemSach]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_ThemSach]
    @TieuDe NVARCHAR(255),
    @TheLoaiID VARCHAR(50),
    @Gia DECIMAL(10, 2),
    @SoLuongTon INT,
    @HinhAnh VARCHAR(MAX),
    @NamXuatBan INT,
    @MoTa NVARCHAR(MAX),
    @NXB_ID VARCHAR(50),
    @TacGiaIDList NVARCHAR(MAX) -- Danh sách các ID tác giả, phân cách bởi dấu phẩy
AS
BEGIN
    SET NOCOUNT ON;

    -- Tạo ID cho sách tự động
    DECLARE @SachID VARCHAR(50);
    DECLARE @MaxSachID INT;

    -- Lấy số lượng sách hiện tại và xác định ID sách tiếp theo
    SELECT @MaxSachID = COUNT(*) + 1 FROM Sach; -- Tính số sách hiện tại và thêm 1 cho ID tiếp theo

    -- Tạo SachID theo định dạng SP001, SP002, ...
    SET @SachID = 'SP' + RIGHT('000' + CAST(@MaxSachID AS VARCHAR), 3);

    -- Thêm thông tin sách vào bảng Sach
    INSERT INTO Sach (id, tieude, theloai_id, gia, soLuongTon, hinhAnh, namXuatBan, MoTa, nxb_id)
    VALUES (@SachID, @TieuDe, @TheLoaiID, @Gia, @SoLuongTon, @HinhAnh, @NamXuatBan, @MoTa, @NXB_ID);

    -- Sử dụng CURSOR để thêm các tác giả vào bảng TacGia_Sach
    DECLARE @TacGiaID VARCHAR(50);
    DECLARE TacGiaCursor CURSOR FOR
    SELECT value
    FROM STRING_SPLIT(@TacGiaIDList, ',');

    -- Mở CURSOR
    OPEN TacGiaCursor;

    -- Lặp qua từng tác giả trong danh sách và thêm vào TacGia_Sach
    FETCH NEXT FROM TacGiaCursor INTO @TacGiaID;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        INSERT INTO TacGia_Sach (sach_id, tacgia_id)
        VALUES (@SachID, @TacGiaID);

        FETCH NEXT FROM TacGiaCursor INTO @TacGiaID;
    END

    -- Đóng và hủy CURSOR
    CLOSE TacGiaCursor;
    DEALLOCATE TacGiaCursor;

    PRINT 'Thêm sách thành công với ID: ' + @SachID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_ThongTinSachDuocDatCuaKhTheoId]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_ThongTinSachDuocDatCuaKhTheoId]
    @SachId VARCHAR(50)
AS
BEGIN
    SELECT 
        S.id AS SachId,
        S.tieude AS TenSach,
		S.HinhAnh,
		S.Gia,
		S.SoLuongTon,
		S.NamXuatBan,
		S.MoTa,
		S.theloai_id,
        TL.ten AS TenTheLoai,
		STRING_AGG(TG.ten, ', ') AS TenTacGias, -- Sử dụng STRING_AGG
		STRING_AGG(TG.id, ', ') AS TacGiaIds, -- Sử dụng STRING_AGG
		NXB.ten as TenNhaXuatBan,
		NXB.id as NhaXuatBanId
    FROM 
        Sach S
        INNER JOIN TheLoai TL ON S.theloai_id = TL.id
        INNER JOIN TacGia_Sach TGS ON S.id = TGS.sach_id
        INNER JOIN TacGia TG ON TGS.tacgia_id = TG.id
        INNER JOIN NhaXuatBan NXB ON NXB.id = S.nxb_id
    WHERE 
        S.id = @SachId
	GROUP BY
		S.id, S.tieude, S.HinhAnh, S.Gia, S.SoLuongTon, S.NamXuatBan, S.MoTa, S.theloai_id, TL.ten, NXB.ten, NXB.id;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateChiTietDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateChiTietDonHang]
    @id VARCHAR(50),
    @donhang_id VARCHAR(50) = NULL,
    @sach_id VARCHAR(50) = NULL,
    @soLuong INT = NULL,
    @giaDonVi DECIMAL(10, 2) = NULL
AS
BEGIN
    -- Kiểm tra xem chi tiết đơn hàng tồn tại hay không
    IF NOT EXISTS (SELECT 1 FROM ChiTietDonHang WHERE id = @id)
    BEGIN
        RAISERROR('Chi tiết đơn hàng không tồn tại.', 16, 1)
        RETURN
    END

    -- Cập nhật các trường dữ liệu nếu giá trị truyền vào khác NULL
    UPDATE ChiTietDonHang
    SET
        donhang_id = ISNULL(@donhang_id, donhang_id),
        sach_id = ISNULL(@sach_id, sach_id),
        soLuong = ISNULL(@soLuong, soLuong),
        giaDonVi = ISNULL(@giaDonVi, giaDonVi)
    WHERE
        id = @id;
    
    -- Kiểm tra dữ liệu sau cập nhật
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Không có thay đổi được thực hiện.', 16, 1)
        RETURN 1;  -- Trả về mã lỗi khác 0
    END

    -- Trả về thông tin chi tiết đơn hàng cập nhật (tùy chọn)
    SELECT *
    FROM ChiTietDonHang
    WHERE id = @id;

    RETURN 0; -- Trả về 0 nếu cập nhật thành công
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDonHang]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UpdateDonHang]
    @id VARCHAR(50),
    @nguoidung_id VARCHAR(50) = NULL,
    @trangthaiDH INT = NULL,
    @tongTien DECIMAL(10, 2) = NULL
AS
BEGIN
    -- Kiểm tra xem đơn hàng tồn tại hay không
    IF NOT EXISTS (SELECT 1 FROM DonHang WHERE id = @id)
    BEGIN
        RAISERROR('Đơn hàng không tồn tại.', 16, 1)
        RETURN 0
    END

    -- Cập nhật các trường dữ liệu
	-- Đặt ngày đặt hàng là ngày hiện tại
	DECLARE @ngayDatHang DATETIME = GETDATE();

    UPDATE DonHang
    SET
        nguoidung_id = ISNULL(@nguoidung_id, nguoidung_id),
        trangthaiDH = ISNULL(@trangthaiDH, trangthaiDH),
        ngayDatHang = @ngayDatHang,  -- Sử dụng biến @ngayDatHang
        tongTien = ISNULL(@tongTien, tongTien)
    WHERE
        id = @id;



    RETURN 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateThongTinSach]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CAP NHAT SACH
CREATE PROCEDURE [dbo].[SP_UpdateThongTinSach]
    @SachID VARCHAR(50),
    @TieuDe NVARCHAR(255),
    @TheLoaiID VARCHAR(50),
    @Gia DECIMAL(10, 2),
    @SoLuongTon INT,
    @HinhAnh VARCHAR(MAX),
    @NamXuatBan INT,
    @MoTa NVARCHAR(MAX),
    @NXB_ID VARCHAR(50),
    @TacGiaIDList NVARCHAR(MAX) -- Danh sách các ID tác giả, phân cách bởi dấu phẩy
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem sách có tồn tại hay không
    IF NOT EXISTS (SELECT 1 FROM Sach WHERE id = @SachID)
    BEGIN
        PRINT 'Sách không tồn tại.';
        RETURN;
    END

    -- Cập nhật thông tin chi tiết của sách trong bảng Sach
    UPDATE Sach
    SET 
        tieude = @TieuDe,
        theloai_id = @TheLoaiID,
        gia = @Gia,
        soLuongTon = @SoLuongTon,
        hinhAnh = @HinhAnh,
        namXuatBan = @NamXuatBan,
        MoTa = @MoTa,
        nxb_id = @NXB_ID
    WHERE 
        id = @SachID;

    -- Xóa các tác giả hiện tại của sách trong bảng TacGia_Sach
    DELETE FROM TacGia_Sach WHERE sach_id = @SachID;

    -- Sử dụng CURSOR để thêm các tác giả mới vào bảng TacGia_Sach
    DECLARE @TacGiaID VARCHAR(50);
    DECLARE TacGiaCursor CURSOR FOR
    SELECT value
    FROM STRING_SPLIT(@TacGiaIDList, ',');

    -- Mở CURSOR
    OPEN TacGiaCursor;

    -- Lặp qua từng tác giả trong danh sách và thêm vào TacGia_Sach
    FETCH NEXT FROM TacGiaCursor INTO @TacGiaID;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        INSERT INTO TacGia_Sach (sach_id, tacgia_id)
        VALUES (@SachID, @TacGiaID);

        FETCH NEXT FROM TacGiaCursor INTO @TacGiaID;
    END

    -- Đóng và hủy CURSOR
    CLOSE TacGiaCursor;
    DEALLOCATE TacGiaCursor;

    PRINT 'Cập nhật thông tin sách thành công.';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaNguoiDungVaLienQuan]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_XoaNguoiDungVaLienQuan]
    @NguoiDungId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Role VARCHAR(10);

    -- Lấy role của người dùng
    SELECT @Role = role FROM NguoiDung WHERE id = @NguoiDungId;

    -- Kiểm tra nếu người dùng không tồn tại thì thoát
    IF @Role IS NULL
    BEGIN
        PRINT 'Người dùng không tồn tại.';
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Xóa các bản ghi trong bảng ChiTietDonHang nếu tồn tại đơn hàng liên quan
        IF EXISTS (SELECT 1 FROM DonHang WHERE nguoidung_id = @NguoiDungId)
        BEGIN
            DELETE FROM ChiTietDonHang
            WHERE donhang_id IN (SELECT id FROM DonHang WHERE nguoidung_id = @NguoiDungId);
        END

        -- Xóa các bản ghi trong bảng HoaDon nếu tồn tại đơn hàng liên quan
        IF EXISTS (SELECT 1 FROM DonHang WHERE nguoidung_id = @NguoiDungId)
        BEGIN
            DELETE FROM HoaDon
            WHERE donhang_id IN (SELECT id FROM DonHang WHERE nguoidung_id = @NguoiDungId);
        END

        -- Xóa các bản ghi trong bảng DonHang nếu tồn tại
        IF EXISTS (SELECT 1 FROM DonHang WHERE nguoidung_id = @NguoiDungId)
        BEGIN
            DELETE FROM DonHang
            WHERE nguoidung_id = @NguoiDungId;
        END

        -- Xóa khách hàng hoặc nhân viên dựa trên role của người dùng
        IF @Role = 'customer'
        BEGIN
            DELETE FROM KhachHang WHERE id_NguoiDung = @NguoiDungId;
        END
        ELSE IF @Role = 'staff' OR @Role = 'admin'
        BEGIN
            DELETE FROM NhanVien WHERE id_NguoiDung = @NguoiDungId;
        END

        -- Xóa người dùng
        DELETE FROM NguoiDung WHERE id = @NguoiDungId

        -- Commit transaction nếu không có lỗi
        COMMIT TRANSACTION;

        PRINT 'Xóa người dùng và các bản ghi liên quan thành công.';
    END TRY
    BEGIN CATCH
        -- Rollback transaction nếu có lỗi
        ROLLBACK TRANSACTION;
        PRINT 'Lỗi xảy ra trong quá trình xóa người dùng. Đã rollback.';
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaSach]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XoaSach]
    @SachID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem sách có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM Sach WHERE id = @SachID)
    BEGIN
        PRINT 'Sách không tồn tại.';
        RETURN;
    END

    -- Xóa các tác giả liên quan đến sách trong bảng TacGia_Sach
    DELETE FROM TacGia_Sach WHERE sach_id = @SachID;

    -- Xóa sách trong bảng Sach
    DELETE FROM Sach WHERE id = @SachID;

    PRINT 'Xóa sách thành công.';
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaNguoiDungVaLienQuan]    Script Date: 11/15/2024 4:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--STORE PROC XÓA NGƯỜI DÙNG
CREATE PROCEDURE [dbo].[XoaNguoiDungVaLienQuan]
    @NguoiDungId VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Role VARCHAR(10);

    -- Lấy role của người dùng
    SELECT @Role = role FROM NguoiDung WHERE id = @NguoiDungId;

    -- Kiểm tra nếu người dùng không tồn tại thì thoát
    IF @Role IS NULL
    BEGIN
        PRINT 'Người dùng không tồn tại.';
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Xóa các bản ghi trong bảng ChiTietDonHang và DonHang và HoaDon liên quan đến NguoiDung
        DELETE FROM ChiTietDonHang
        WHERE donhang_id IN (SELECT id FROM DonHang WHERE nguoidung_id = @NguoiDungId);

        DELETE FROM HoaDon
        WHERE donhang_id IN (SELECT id FROM DonHang WHERE nguoidung_id = @NguoiDungId);

        DELETE FROM DonHang
        WHERE nguoidung_id = @NguoiDungId;

        -- Xóa khách hàng hoặc nhân viên dựa trên role của người dùng
        IF @Role = 'customer'
        BEGIN
            DELETE FROM KhachHang WHERE id_NguoiDung = @NguoiDungId;
        END
        ELSE IF @Role = 'staff' OR @Role = 'admin'
        BEGIN
            DELETE FROM NhanVien WHERE id_NguoiDung = @NguoiDungId;
        END

        -- Xóa người dùng
        DELETE FROM NguoiDung WHERE id = @NguoiDungId;

        -- Commit transaction
        COMMIT TRANSACTION;

        PRINT 'Xóa người dùng và các bản ghi liên quan thành công.';
    END TRY
    BEGIN CATCH
        -- Rollback transaction nếu có lỗi
        ROLLBACK TRANSACTION;
        PRINT 'Lỗi xảy ra trong quá trình xóa người dùng. Đã rollback.';
    END CATCH
END;
GO
USE [master]
GO
